<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
        <add name="DbConnectionString" connectionString="Data Source={};Initial Catalog={};IntegratedSecurity={}" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <configSections>
    </configSections>
</configuration>