<html>

<head>
    <meta charset="utf-8">
    <title>Dmesg viewer</title>
    <link rel="stylesheet" href="/css/patternfly-additions.min.css">
    <link rel="stylesheet" href="/css/patternfly-adjusted.min.css">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">

    <script>
        function filter() {
            var selector = document.getElementById("filter");
            var val = document.getElementById("filter_value").value;
            if(selector.value != "all") window.location.href = '/dashboard/browse/'+selector.value+"/"+val;
            else window.location.href = '/dashboard/browse';
        }
    </script>

</head>

<body>

    <div class="blank-slate-pf">
        <h2>
            Browse
        </h2>


        <div width="100%" style="margin-bottom: 10px;">
            <strong><a href="/dashboard">Back to dashboard</a></strong>
        </div>
        <div style="display: inline-flex">
            <strong><span>Filter by:&nbsp;</span></strong>
            <select id="filter">
                <option value="all">All</option>
                <option value="source">Source</option>
                <option value="level">Priority</option>
            </select>
            <input id="filter_value" style="width: 80px;">
            <button onclick="filter();">Filter</button>
        </div>
        <!-- Table HTML -->
        <table class="table table-striped table-bordered table-hover" id="table1">
            <thead>
                <tr>
                    {% for c in model.columns -%}
                    <th>{{ c }}</th>
                    {% endfor -%}
                </tr>
            </thead>
        </table>

    

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script>
            $(document).ready(function () {

                // JSON data for Table View
                var dataSet = [
                    {% for m in model.data -%}
                    {
                        {% for c in model.columns -%}
                        {{ c }}: "{{ m[c] | str | replace:'"','\"' }}",
                        {% endfor -%}
                }{% unless forloop.last %},{% endunless %}
                    {% endfor -%}
                ];

                // DataTable Config
                $("#table1").DataTable({
                    "scrollY": "400px",
                    //"scrollCollapse": true,
                    paging: false,
                    columns: [
                        {% for c in model.columns -%}
                            { data: "{{ c }}" },
                        {% endfor -%}
                    ],
                    data: dataSet,
                    //dom: "t",
                    // language: {
                    //     zeroRecords: "No records found"
                    // },
                    // order: [[0, 'asc']],
                    // pfConfig: {
                    //     filterCols: [
                    //         {
                    //             default: true,
                    //             optionSelector: "#filter1",
                    //             placeholder: "Filter By Rendering time..."
                    //         }, {
                    //             optionSelector: "#filter2",
                    //             placeholder: "Filter By source..."
                    //         }, {
                    //             optionSelector: "#filter3",
                    //             placeholder: "Filter By Platform(s)..."
                    //         }, {
                    //             optionSelector: "#filter4",
                    //             placeholder: "Filter By time priority..."
                    //         }, {
                    //             optionSelector: "#filter5",
                    //             placeholder: "Filter By CSS Grade..."
                    //         }
                    //     ]
                    // }
                });

                /**
                * Utility to show empty Table View
                *
                * @param {object} config - Config properties associated with a Table View
                * @param {object} config.data - Data set for DataTable
                * @param {string} config.deleteRowsSelector - Selector for delete rows control
                * @param {string} config.restoreRowsSelector - Selector for restore rows control
                * @param {string} config.tableSelector - Selector for the HTML table
                */
                // var emptyTableViewUtil = function (config) {
                //     var self = this;

                //     this.dt = $(config.tableSelector).DataTable(); // DataTable
                //     this.deleteRows = $(config.deleteRowsSelector); // Delete rows control
                //     this.restoreRows = $(config.restoreRowsSelector); // Restore rows control

                //     // Handle click on delete rows control
                //     this.deleteRows.on('click', function () {
                //         self.dt.clear().draw();
                //         $(self.restoreRows).prop("disabled", false);
                //     });

                //     // Handle click on restore rows control
                //     this.restoreRows.on('click', function () {
                //         self.dt.rows.add(config.data).draw();
                //         $(this).prop("disabled", true);
                //     });

                //     // Initialize restore rows
                //     if (this.dt.data().length === 0) {
                //         $(this.restoreRows).prop("disabled", false);
                //     }
                // };

                // // Initialize empty Table View util
                // new emptyTableViewUtil({
                //     data: dataSet,
                //     deleteRowsSelector: "#deleteRows1",
                //     restoreRowsSelector: "#restoreRows1",
                //     tableSelector: "#table1"
                // });

                /**
                * Utility to find items in Table View
                */
                var findTableViewUtil = function (config) {
                    // Upon clicking the find button, show the find dropdown content
                    $(".btn-find").click(function () {
                        $(this).parent().find(".find-pf-dropdown-container").toggle();
                    });

                    // Upon clicking the find close button, hide the find dropdown content
                    $(".btn-find-close").click(function () {
                        $(".find-pf-dropdown-container").hide();
                    });
                };

                // Initialize find util
                new findTableViewUtil();

            });
        </script>
</body>

</html>